Repository fharookshaik/fibonacci-series, pull requests merged in 2020-10, with the labels that each got.

#5 Added Fibonacci sequence in C Language
  C_fibonacci.c
Labels: good first issue, hacktoberfest2020

#7 Create CPP_fibonacci.cpp
  CPP_fibonacci.cpp
Labels: hacktoberfest-accepted, hacktoberfest2020

#36 added fibonacci series coded in bash
  bash_fibonacci.sh
Labels: hacktoberfest-accepted

#46 Add fibonacci in kotlin
  Contributors.md
  Languages.md
  kotlin_fibonacci.kt
Labels: hacktoberfest-accepted

#41 Added cpp fibonacci series
  cpp_fibonacci.cpp
Labels: hacktoberfest-accepted, new programming language

#48 Fix Java Version
  Java_fibonacci.java
Labels: enhancement, hacktoberfest-accepted
